{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Semantic Versioning Changelog"
      }
    ],
    [
      "@droidsolutions-oss/semantic-release-update-file",
      {
        "files": [
          {
            "path": [
              "Directory.Build.props"
            ],
            "type": "xml",
            "replacements": [
              {
                "key": "Version",
                "value": "${nextRelease.version}"
              }
            ]
          }
        ]
      }
    ],
    [
    "@droidsolutions-oss/semantic-release-nuget", 
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "Directory.Build.props",
          "${process.env.PACKAGE_OUTPUT_DIRECTORY}"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ],
  "npmPublish": false,
  "projectPath": "${process.env.PROJECT_PATH}",
  "includeSymbols": true,
  "files": [
    {
      "path": [
        "Directory.Build.props" 
      ],
      "type": "xml",
      "replacements": [
        {
          "key": "VersionPrefix",
          "value": "${nextRelease.version}"
        },
        {
          "key": "RepositoryCommit",
          "value": "${CI_COMMIT_SHA}"
        }
      ]
    }
  ],
  "branches": [
    "master",
    {
      "name": "beta",
      "prerelease": true,
      "channel": "beta"
    },
    {
      "name": "prerelease",
      "prerelease": true
    }
  ]
}
